
build/

L2J_Mobius_CT_2.6_HighFive/dist/db_installer/dumps/

L2J_Mobius_CT_2.6_HighFive/dist/game/log/

L2J_Mobius_CT_2.6_HighFive/dist/libs/GameServer.jar

L2J_Mobius_CT_2.6_HighFive/dist/libs/LoginServer.jar

L2J_Mobius_CT_2.6_HighFive/dist/login/log/
